{
  "port": 5000,
  "command": "poll",
  "help_link": "https://github.com/deutschemodelunitednations/openpollslack",
  "client_id": "",
  "client_secret": "",
  "signing_secret": "",
  "state_secret": "CHANGE ME",
  "oauth_success": "",
  "oauth_failure": "",
  "support_url": "",
  "mongo_url": "mongodb://localhost:27017",
  "mongo_db_name": "dmun_poll"
}
